* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

#inbox_msg {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    clear: both;
    height: 70vh;
    overflow: scroll;
}

 ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
    margin-top: 5px;
}

.outgoing_msg_img {
    width: 7%;
    margin: 5px 30px 0 0;
    float: right;
}

.outgoing_msg_img img {
    border-radius: 50%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #645d5d none repeat scroll 0 0;
    border-radius: 5px;
    color: #dfcfcf;
    font-size: 25px;
    margin: 0;
    padding: 15px 5px 5px 12px;
    width: 100%;
    min-height: 40px;
    overflow-wrap: break-word;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 100%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 5px;
    font-size: 25px;
    color: #fff;
    padding: 15px 5px 5px 12px;
    width: 100%;
    min-height: 40px;
    overflow-wrap: break-word;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 57%;
    margin-right: 30px;
}

.messaging {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

#sendoptions {
    text-align: center;
}

#minput {
    height: 60px;
    width: 60%;
    border: 2px solid black;
    border-radius: 40px;
    margin: 30px 0;
    padding: 5px 15px;
    font-size: 25px;
    outline: none;
}

#sendoptions button {
    height: 60px;
    width: 60px;
    border: none;
}

#sendoptions i:hover {
    cursor: pointer;
}